<app-topbar></app-topbar>
<h2 class="text-center"> <i class="fas fa-user"></i> About Me</h2>
<div class="tech-skills">
    <div class="about">   
        <div class="about-content">
          <div class="biography">
            <h3>Biography</h3>
            <p>
              Hello, I'm Sivaraaj, a Full Stack Developer with a passion for creating innovative and efficient software solutions. I specialize in developing web applications using Angular, Spring Boot, and MySQL. With a background in both front-end and back-end technologies, I strive to build seamless and dynamic user experiences.
            </p>
          </div>
          
          <div class="skills">
            <h3>Skills and Abilities</h3>
            <ul>
              <li><strong>Programming Languages:</strong> Core Java, TypeScript, HTML, CSS ,NodeJs</li>
              <li><strong>Frameworks:</strong> Angular, Spring Boot</li>
              <li><strong>Databases:</strong> MySQL, PostgreSQL</li>
              <li><strong>DevOps:</strong> GitHub, Docker, Jenkins</li>
              <li><strong>Testing:</strong> UnitTest, Postman</li>
              <li><strong>Operating Systems:</strong> Ubuntu, Windows</li>
            </ul>
          </div>

          <div class="experience">
            <h3>Experience</h3>
            <div class="experience-item">
              <h4>Software Developer</h4>
              <p><strong>Company:</strong> Oasys Cybernetics Pvt Ltd</p>
              <p><strong>Duration:</strong> Aug 2023 – Current</p>
              <p><strong>Location:</strong> Chennai, IN</p>
              <ul>
                <li>Developed and maintained applications involving JSF to Angular conversion.</li>
                <li>Collaborated with cross-functional teams to design and implement features using Java and Angular.</li>
                <li>Optimized MySQL and PostgreSQL database queries for improved performance and scalability.</li>
              </ul>
            </div>
          </div>

          <div class="education">
            <h3>Education</h3>
            <p><strong>Institution:</strong> Coimbatore Institute of Engineering and Technology</p>
            <p><strong>Degree:</strong> B-Tech in Information Technology</p>
            <p><strong>CGPA:</strong> 78</p>
          </div>

          <div class="certifications">
            <h3>Certifications</h3>
            <ul>
              <li>Learned Cyber Security Through National Level Webinar.</li>
              <li>Completed Python Advanced training at FITA Academy with certificate of excellence.</li>
            </ul>
          </div>
        
        </div>
      </div>
  
  <app-footer></app-footer>
