<app-topbar></app-topbar>
<h2 class="text-center">
    <i class="fas fa-phone"></i> Contact Me
</h2>

<div class="contact">
    <div class="contact-content">
        <div class="contact-info">
            <h3>Reach Out</h3>
            <p>If you have any questions or would like to discuss opportunities, collaborations, or just want to connect, please use the details below or fill out the contact form.</p>
            <ul>
                
                <li><strong>Email:</strong> <a href="mailto:sivaraaj6997@gmail.com">sivaraaj6997@gmail.com</a></li>
                <li><strong>Phone:</strong> +91-9489357762</li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sivaraaj" target="_blank">linkedin.com/in/sivaraaj</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/sivaraaj" target="_blank">github.com/sivaraaj</a></li>
            </ul>
        </div>
        
        <div class="contact-form">
            <h3>Contact Form</h3>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="mail">Email:</label>
                    <input type="mail" id="mail" formControlName="mail" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" formControlName="message" required></textarea>
                </div>
                <button type="submit" [disabled]="contactForm.invalid">Send</button>
            </form>
        </div>
    </div>

    <div *ngIf="successMessage" class="custom-alert success-alert">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="custom-alert error-alert">
        {{ errorMessage }}
      </div>
      
  
  <app-footer></app-footer>
</div>
