.projects {
    padding: 20px;
    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns with equal width */
    gap: 20px;
    /* Space between cards */
}

.project {
    display: block;
    text-decoration: none;
    /* Remove underline from links */
    color: inherit;
    /* Inherit text color from parent */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease-out;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    transition: color 0.3s ease;
    animation: slideIn 0.5s ease-out;
}

.project:hover h3 {
    color: #03179c;
}

.project ul {
    list-style-type: disc;
    margin-left: 20px;
    transition: opacity 0.3s ease;
}

.project:hover ul {
    opacity: 0.8;
}

.project p {
    margin: 5px 0;
}

.project p strong {
    color: #555;
    transition: color 0.3s ease;
}

.project:hover p strong {
    color: #10151a;
}

/* Keyframe Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on medium screens */
    }
}

@media (max-width: 600px) {
    .projects {
        grid-template-columns: 1fr;
        /* One column on small screens */
    }
}

.project {
    animation: bounceIn 2s ease-out;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.footers {
    margin-top: 80px;
}

.text-center {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    animation: bounceIn 2s ease-out;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}