<app-topbar></app-topbar>
<h2 class="text-center"><i class="fas fa-project-diagram"></i>Project List</h2>
<div class="projects">
  <!-- Cooptex ERP Project -->
  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>Cooptex ERP Project</h3>
      <p><strong>Duration:</strong>Jan 2024 – Present</p>
      <ul>
        <li>Developed and implemented a comprehensive ERP system to streamline business processes.</li>
        <li>Integrated various modules, including inventory, sales, and finance, for seamless data flow.</li>
        <li>Utilized Angular for dynamic front-end development and MySQL for robust back-end database management.</li>
      </ul>
    </div>
  </a>

  <!-- Blockchain-Based Crowdfunding Platform -->
  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>Using Node.js API for Gate Pass System</h3>
      <p><strong>Duration:</strong> Jan 2024 – Apr 2024</p>
      <p><strong>Technologies:</strong> Node.js, Express, MySQL</p>
      <ul>
        <li>Developed a gate pass management system using Node.js and Express for the backend.</li>
        <li>Implemented RESTful APIs for managing gate passes.</li>
        <li>Utilized MySql for secure and scalable data storage and retrieval.</li>
      </ul>
    </div>
  </a>


  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>Basic React and Node CRUD</h3>
      <p><strong>Duration:</strong> Aug 2024 - Aug 2024</p>
      <p><strong>Technologies:</strong> Node.js, React, MongoDB</p>
      <ul>
        <li>Created a basic CRUD application for managing tasks, with features for reading, writing, updating, and
          deleting task entries.</li>
        <li>Designed the front-end using React to provide a user-friendly interface, with data management handled by a
          Node.js back-end connected to a Mysql database.</li>
        <li>Implemented user-specific data handling, ensuring secure and synchronized access to task data across
          devices, with seamless transitions using React animations.</li>
      </ul>
    </div>
  </a>


  <!-- E-commerce Static Website -->
  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>E-commerce Static Website</h3>
      <p><strong>Duration:</strong> Aug 2023 – Sep 2023</p>
      <p><strong>Technologies:</strong> HTML, CSS ,Nodejs</p>
      <ul>
        <li>Created a static e-commerce website with a user-friendly interface and responsive design.</li>
        <li>Developed features including product listings, shopping cart, and checkout process.</li>
        <li>Ensured cross-browser compatibility and optimized performance.</li>
      </ul>
    </div>
  </a>

  <!-- E-commerce Dynamic Website -->
  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>E-commerce Dynamic Website</h3>
      <p><strong>Duration:</strong>Sep 2023 – Oct 2023</p>
      <p><strong>Technologies:</strong> Java, Angular, MySQL</p>
      <ul>
        <li>Developed a dynamic e-commerce platform with interactive features using Java, Angular, and MySQL.</li>
        <li>Implemented functionalities such as user authentication, product management, and order processing.</li>
        <li>Integrated a payment gateway for secure transactions and real-time inventory updates.</li>
      </ul>
    </div>
  </a>

  <!-- Blog Application -->
  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>Blog Application</h3>
      <p><strong>Duration:</strong> Oct 2023 – Nov 2023</p>
      <p><strong>Technologies:</strong> NodeJs, Angular, MongoDB</p>
      <ul>
        <li>Designed and developed a blog application with features like user registration, post creation, and
          commenting.</li>
        <li>Utilized Angular for the front-end and Java with MySQL for the back-end.</li>
        <li>Implemented CRUD operations for blog management and user interactions.</li>
      </ul>
    </div>
  </a>

  <!-- To-Do List Application -->
  <a href="https://github.com/sivaraajc" target="_blank" class="project">
    <div class="project-content">
      <h3>To-Do List Application</h3>
      <p><strong>Duration:</strong> Nov 2023 - Dec 2023</p>
      <p><strong>Technologies:</strong> Nodejs, Angular, MongoDB</p>
      <ul>
        <li>Developed a to-do list application for task management with functionalities for adding, editing, and
          deleting tasks.</li>
        <li>Built the front-end using Angular and managed task data with a Java-based back-end and MySQL database.</li>
        <li>Enabled user-specific task management and synchronization across devices, incorporating Angular animation
          effects for a dynamic user experience.</li>
      </ul>
    </div>
  </a>
</div>

<footer class="footers">
  <app-footer></app-footer>
</footer>