<div class="container">
    <nav>
        <div class="logo">SR<span></span></div>
        <ul>
            <li routerLink="">Home</li>
            <li routerLink="project">Project</li>
            <li routerLink="about">About</li>
            <li routerLink="contact">Contact</li>
        </ul>
    </nav>
    <!-- <br> -->
    <h2 class="text-center">Welcome to My Portfolio</h2>
    <br><br>
    <div id="home" class="hero-content">

        <div class="intro">
            <p>Hello</p>
            <h1>I'm <span>Sivaraaj</span></h1>
            <h2>A full stack developer at <span style="color: orangered;">Oasys</span> based in Chennai.</h2>
            <p>With expertise in Angular, Spring Boot, and MySQL & PostgreSQL, I build efficient and scalable solutions.
                Here’s a
                glimpse of my work:</p>
            <br>
            <!-- <h2>
                ↓
                RESUME
            </h2> -->

            <button class="button" (click)="downloadFile()">
                <span class="button-content">RESUME</span>
            </button>

        </div>
        <div class="hero-image">
            <img src="assets/dev.png" alt="Developer Image">
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>